In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
%ls

Data_Challenge_1_Luo_Mi.ipynb  employee_retention_data.csv

In [4]:
df=pd.read_csv('employee_retention_data.csv')

In [7]:
df.head()

,employee_id,company_id,dept,seniority,salary,join_date,quit_date
0,13021.0,7,customer_service,28,89000.0,2014-03-24,2015-10-30
1,825355.0,7,marketing,20,183000.0,2013-04-29,2014-04-04
2,927315.0,4,marketing,14,101000.0,2014-10-13,NaN
3,662910.0,7,customer_service,20,115000.0,2012-05-14,2013-06-07
4,256971.0,2,data_science,23,276000.0,2011-10-17,2014-08-22

In [10]:
np.unique(df.dept)

array(['customer_service', 'data_science', 'design', 'engineer',
       'marketing', 'sales'], dtype=object)

In [12]:
df.join_date=pd.to_datetime(df.join_date)
df.quit_date=pd.to_datetime(df.quit_date)

In [17]:
np.unique(df.company_id)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [15]:
pd.date_range(start='2011/01/24',end='2015/12/13')

DatetimeIndex(['2011-01-24', '2011-01-25', '2011-01-26', '2011-01-27',
               '2011-01-28', '2011-01-29', '2011-01-30', '2011-01-31',
               '2011-02-01', '2011-02-02',
               ...
               '2015-12-04', '2015-12-05', '2015-12-06', '2015-12-07',
               '2015-12-08', '2015-12-09', '2015-12-10', '2015-12-11',
               '2015-12-12', '2015-12-13'],
              dtype='datetime64[ns]', length=1785, freq='D')

In [27]:
date_df=pd.DataFrame(pd.date_range(start='2011/01/24',end='2015/12/13'))
date_df['key']=0
company_df=pd.DataFrame(np.unique(df.company_id))
company_df['key']=0
head_count_df=date_df.merge(company_df,how='left',on='key')
head_count_df.drop('key',axis=1,inplace=True)
head_count_df.columns=['date','company_id']
head_count_df.head()

In [38]:
head_count_df.columns

Index(['date', 'company_id'], dtype='object')

In [39]:
def head_count(row):
    join_num=np.sum(df[df.company_id==row['company_id']].join_date<row.date)
    out_num=np.nansum(df[df.company_id==row['company_id']].quit_date<row.date)
    return join_num-out_num

In [44]:
head_count_df['head_count']=head_count_df.apply(head_count,axis=1)

In [139]:
head_count_df.head(36)

         date  company_id  head_count
0  2011-01-24           1           0
1  2011-01-24           2           0
2  2011-01-24           3           0
3  2011-01-24           4           0
4  2011-01-24           5           0
5  2011-01-24           6           0
6  2011-01-24           7           0
7  2011-01-24           8           0
8  2011-01-24           9           0
9  2011-01-24          10           0
10 2011-01-24          11           0
11 2011-01-24          12           0
12 2011-01-25           1          25
13 2011-01-25           2          17
14 2011-01-25           3           9
15 2011-01-25           4          12
16 2011-01-25           5           5
17 2011-01-25           6           3
18 2011-01-25           7           1
19 2011-01-25           8           6
20 2011-01-25           9           3
21 2011-01-25          10           0
22 2011-01-25          11           0
23 2011-01-25          12           0
24 2011-01-26           1          27
25 2011-01-26           2          19
26 2011-01-26           3          10
27 2011-01-26           4          12
28 2011-01-26           5           5
29 2011-01-26           6           3
30 2011-01-26           7           1
31 2011-01-26           8           6
32 2011-01-26           9           3
33 2011-01-26          10           0
34 2011-01-26          11           0
35 2011-01-26          12           0

In [64]:
df['churn']=df.quit_date.isnull().astype('int')

In [148]:
X=df.loc[:,['company_id','dept','seniority','salary']]
X_con=X.loc[:,['seniority','salary']]
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_con=pd.DataFrame(scaler.fit_transform(X_con))
X_con.columns=['seniority','salary']
X_con.head()
X_cat=X.loc[:,['company_id','dept']]
X=pd.concat([X_cat,X_con],axis=1)
X.company_id=X.company_id.astype('category')
X.dept=X.dept.astype('category')
X=pd.get_dummies(X)

In [149]:
y=df.churn.astype('category')

In [150]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y)

from sklearn.ensemble import RandomForestClassifier
clf1=RandomForestClassifier()

clf1.fit(X_train,y_train)
y_pred=clf1.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.51602979274611394

In [151]:
from sklearn.svm import SVC
clf2=SVC(kernel='linear')

clf2.fit(X_train,y_train)
y_pred=clf2.predict(X_test)
accuracy_score(y_test,y_pred)

0.55424222797927458

In [153]:
clf3=LogisticRegression()

In [154]:
clf3.fit(X_train,y_train)
y_pred=clf3.predict(X_test)
accuracy_score(y_test,y_pred)

0.55829015544041449

In [155]:
clf4=SVC(kernel='rbf')

In [156]:
clf4.fit(X_train,y_train)
y_pred=clf4.predict(X_test)
accuracy_score(y_test,y_pred)

0.55569948186528495